{% extends 'base.html' %}
{% block title %}
Kunde {{ object }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <table>
            <tr>
                <td>Firma: </td>
                <td>{{ object.company_name }}</td>
            </tr>
            <tr>
                <td>Adresse: </td>
                <td>{{ object.street }} </br> {{ object.zip }} {{ object.city }}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-6"></div>
</div>
{% endblock %}